.Posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 75px;
    align-items: center;
    justify-content: center;
}

.post-container {
    height: 170px;
    width: 300px;
    // width: 100%;
    border-radius: 10px;
    background-color: azure;
}
.user-post {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.post-user {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.post-title {
    margin: 13px;
   font-size: 18px; 
} 

.post-emoji {
    display: flex;
    align-items: center;    
    span {
        display: flex;
        align-items: center;
        font-size: 15px;
        gap: 0.5rem;
    }
}

.like-emoji {
    cursor: pointer;
}

.user-name {
    h5 {
        font-size: 1.1rem;
    }
    p {
        font-style: italic;
        font-weight: bold;
        font-size: 0.8rem
    }
}


@media screen and (max-width: 768px) {
    .Posts {
        grid-template-columns: 1fr;
    }
   

    .post-emoji {   
        span {
            font-size: 15px;
        }
    }
}